@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contactos";
}
<div class="text-center">
    <h1 class="display-4">Contactos</h1>
    <img src="/imagens\ct.jpg" width="600" height="300" />
    <br />
    <br />
    <p>Como entrar em contacto para começar digo já que não vais pois não queremos... :)</p>
    <br />
    <br />
    <table class="table">
        <thead class="thead-dark bg-black text-light">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
        <tr><td>Márcio</td><td>naodigo@hotmail.com</td></tr>
        <tr><td>Márcio Pessoal</td><td>descobre@hotmail.com</td></tr>
        </tbody>
    </table>
    <br />
    <p>Ir Para o site do IEFP <a href="https://www.iefp.pt/">Aqui</a>.</p>
</div>
