@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo a Página do Projeto para o curso EFA Prog IEFP Setúbal</h1>
    <img src="imagens\curso.png" width="900" height="400" />
    <p>IEFP <a href="https://www.iefp.pt/">Mais aqui</a>.</p>
</div>
