@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sobre Nós";
}
<div class="text-center">
    <h1 class="display-4">Sobre Nós</h1>
    <img class="img-fluid" src="/imagens/iefp.jpg" width="300" height="200" />
    <br />
    <br />
    <div class="container p-2">
        <p>O IEFP (Instituto do Emprego e Formação Profissional) de Setúbal é uma das várias delegações regionais do IEFP em Portugal, dedicada ao apoio da população local na área da empregabilidade e qualificação profissional. Este centro oferece diversos serviços, como o acompanhamento de pessoas à procura de emprego, o acesso a programas de formação profissional, e a orientação para o desenvolvimento de competências, com o objetivo de facilitar a inserção no mercado de trabalho.</p>

        <p>Além disso, o IEFP de Setúbal realiza ações que visam melhorar a empregabilidade de jovens, desempregados e pessoas em risco de exclusão social, promovendo cursos de qualificação e desenvolvimento de competências técnicas e pessoais. Através de parcerias com empresas e outras entidades, o IEFP de Setúbal também facilita a aproximação entre a oferta de trabalho e a procura, contribuindo para o dinamismo económico da região.</p>
    </div><table class="table">
        <thead class="thead-dark bg-black text-light">
            <tr>
                <th scope="col">Informação</th>
                <th scope="col">Detalhes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Serviços Oferecidos</td>
                <td>Emprego, Formação Profissional e Apoio à Inserção no Mercado de Trabalho</td>
            </tr>
            <tr>
                <td>Localização</td>
                <td>Setúbal, Portugal</td>
            </tr>
        </tbody>
    </table>
    <br />
    <p>Mais <a href="https://www.iefp.pt/">Aqui</a>.</p>
</div>
